<mat-toolbar color="primary">
  <img src="assets/logo.png" class="logo" alt="Logo" />
  <span class="toolbar-title">Academic Management System</span>
  <span class="spacer"></span>

  <a mat-button routerLink="/" routerLinkActive="active-link">Home</a>
  <a mat-button routerLink="/evaluations" routerLinkActive="active-link">Evaluations</a>
  <a mat-button routerLink="/students" routerLinkActive="active-link">Students</a>
  <a mat-button routerLink="/professors" routerLinkActive="active-link">Professors</a>
</mat-toolbar>



<div class="main-content">
  <router-outlet></router-outlet>
</div>
